//VARIABLES
@import 'variables';
// BASE 
@import '../scss/base/base';
@import '../scss/base/typography';
// COMPONENTES
@import '../scss/componentes/footer';
@import '../scss/componentes/header';

.seccion1 { background: url(../img/artesanal.jpg) no-repeat top center fixed; background-size: cover; padding: 280px 50px}

h1 {font-size: 50px; margin-bottom: 20px;  }

.btn-sec1 {
    background: $blue; 
    border: none; 
    padding: 10px 50px;
    border-radius: 15px; }

.btn-sec1:hover{
        background-color: $orange;
    }
