footer{
    text-align: center;
    font-size: 30px;
    background-color: $orange;
    color: $blue;
    margin-top: 0px;
    height: 200px;
    padding-top: 20px;
}

footer a{
    color: $blue;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 15px;
}

footer a:hover{
    color: $black;
}
