.navbar{
    background-color:$orange;
}

.a.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand{ 
    font-size: 32px; 
    font-weight: 300;
    background-color: $orange; }

.navbar-toggler{
    color: $blue;
    }
    